:root {
	--red:     #DE1D3F;
	--orange:  #C9690C;
	--yellow:  #AB8704;
	--green:   #819808;
	--cyan:    #05A388;
	--blue:    #1F86CD;
	--violet:  #6A69DB;
	--magenta: #C13B9F;

	--base0:   #FFF8E6;
	--base1:   #E8E5D1;
	--base2:   #D2D3BE;
	--base3:   #BBC1AB;
	--base4:   #8D9E8A;
	--base5:   #617C6D;
	--base6:   #375B53;
	--base7:   #0D3A3C;
	--base8:   #002A31;
}

@media (prefers-color-scheme: dark) {
	:root {
		--red:     #FC4257;
		--orange:  #EC7C0E;
		--yellow:  #C7A01E;
		--green:   #98B224;
		--cyan:    #21BFA0;
		--blue:    #249FF3;
		--violet:  #8082F7;
		--magenta: #DD56B8;

		--base0:   #002A31;
		--base1:   #0D3A3C;
		--base2:   #375B53;
		--base3:   #617C6D;
		--base4:   #8D9E8A;
		--base5:   #BBC1AB;
		--base6:   #D2D3BE;
		--base7:   #E8E5D1;
		--base8:   #FFF8E6;
	}
}


@font-face {
  font-family: 'Alegreya'; font-style: normal; font-weight: 400; font-display: swap;
  src: url('/assets/fonts/alegreya-v29-latin-ext_latin-400.woff2') format('woff2');
}
@font-face {
  font-family: 'Alegreya'; font-style: italic; font-weight: 400; font-display: swap;
  src: url('/assets/fonts/alegreya-v29-latin-ext_latin-400i.woff2') format('woff2');
}
@font-face {
  font-family: 'Alegreya'; font-style: normal; font-weight: 700; font-display: swap;
  src: url('/assets/fonts/alegreya-v29-latin-ext_latin-700.woff2') format('woff2');
}
@font-face {
  font-family: 'Alegreya SC'; font-style: normal; font-weight: 700; font-display: swap;
  src: url('/assets/fonts/alegreya-sc-v22-latin-ext_latin-700.woff2') format('woff2');
}
@font-face {
  font-family: 'JetBrains Mono'; font-style: normal; font-weight: 400; font-display: swap;
  src: url('/assets/fonts/jetbrains-mono-v13-latin-ext_latin-400.woff2') format('woff2');
}
@font-face {
  font-family: 'JetBrains Mono'; font-style: normal; font-weight: 700; font-display: swap;
  src: url('/assets/fonts/jetbrains-mono-v13-latin-ext_latin-700.woff2') format('woff2');
}

html { background-color: var(--base0); color: var(--base5); font-family: Alegreya, serif; font-variant-numeric: tabular-nums; font-size: 18px; padding: 0px 10px; }
#content { max-width: 650px; margin: auto; }
#footer { font-size: 15px; margin-top: 2em; }
#footer .item { white-space: nowrap; }

code { color: var(--green); font-family: "JetBrains Mono"; font-size: 16px; }

a:link { color: var(--blue); }
a:visited { color: var(--violet); }
a:hover { text-decoration: none; }

p, ul, ol, table, pre { margin: .5em 0; }

h1, h2, h3, h4 { font-family: "Alegreya SC"; line-height: 1; margin-top: 1.5em; margin-bottom: 0em; }
h1 { color: var(--orange); font-size: 30px; letter-spacing: -1px; }
h2 { color: var(--yellow); font-size: 24px; }
h3, h4 { color: var(--base4); font-size: 18px; letter-spacing: 1px; }

ul { list-style-type: "•  "; }
ul, ol { padding-left: 25px; }
li::marker { color: var(--magenta); }

th { color: var(--yellow); text-align: left; }
th, td { border: 0.1px solid var(--base1); border-collapse: collapse; padding: 2px 5px; }
table { border: 0.1px solid var(--base1); border-collapse: collapse; }

pre { overflow: auto; }

hr { border: none; border-top: 1px dotted var(--base6); }

@media screen and (max-width: 650px) { h1 { margin-top: 0em; } }
